@page
@model Vũ_Nguyễn_Huy_Chương_SE150542_Ass02.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customer.CustomerId" class="control-label"></label>
                <input asp-for="Customer.CustomerId" class="form-control" />
                <span asp-validation-for="Customer.CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CustomerName" class="control-label"></label>
                <input asp-for="Customer.CustomerName" class="form-control" />
                <span asp-validation-for="Customer.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Mobile" class="control-label"></label>
                <input asp-for="Customer.Mobile" class="form-control" />
                <span asp-validation-for="Customer.Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CustomerEmail" class="control-label"></label>
                <input asp-for="Customer.CustomerEmail" class="form-control" />
                <span asp-validation-for="Customer.CustomerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CustomerPassword" class="control-label"></label>
                <input asp-for="Customer.CustomerPassword" class="form-control" />
                <span asp-validation-for="Customer.CustomerPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.IdentityCard" class="control-label"></label>
                <input asp-for="Customer.IdentityCard" class="form-control" />
                <span asp-validation-for="Customer.IdentityCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.LicenceNumber" class="control-label"></label>
                <input asp-for="Customer.LicenceNumber" class="form-control" />
                <span asp-validation-for="Customer.LicenceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.LicenceDate" class="control-label"></label>
                <input asp-for="Customer.LicenceDate" class="form-control" />
                <span asp-validation-for="Customer.LicenceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
